.App {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}

ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #eff6f1;
  border-radius: 50%;
  color: #274c5b;
}

ul li a:hover {
  background-color: #acc4b2;
  color: #274c5b;
  padding: 10px 15px;
  transition: 0.5s ease-in-out;
}

/*Navigation bar  */
.nav-link.nav-link {
  color: #274C5B;
}

.nav-link.nav-link:hover {
  color: #7EB693;
}

.nav-link.active.active.active {
  color: #7EB693 /* !important */;
  font-weight: 600;
}

/* search list */
.search ul {
  padding: 0;
  margin: 0;
}

.search ul li {
  padding-left: 15px;
  cursor: pointer;
}

.search ul li:hover {
  border-radius: 15px;
  background-color: #EFF6F1;
  color: #274C5B;
}
